/*
sélecteur
{
    propriété: valeur
}
*/

.vertical-menu {
width: 400px;
}

.vertical-menu a {
background-color: rgb(60, 60, 60);
color: rgb(255, 255, 255);
display: block;
padding: 11px;
text-decoration: none;
margin-left: -13px;
text-align: left;

}

.vertical-menu a:hover {
background-color: rgb(255, 255, 255);
color: rgb(60, 60, 60);
}

.vertical-menu a.active {
background-color: #000000;
color: white;
}

a{
    text-decoration: none;
}

h1,h2{
    color: rgb(60, 60, 60);
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: right;
    margin-right: 13px;
    margin-top: 45px;
    line-height: 0cm;
}

body{
    background: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(60, 60, 60);
    margin-left: 13px;
    text-decoration: none;
}

.grid{
    display: grid;
    grid-template-columns: 30% 70%;
}

.cv{
    font-size: 22px;
    color: rgb(60, 60, 60);
    padding: 20px;
    margin-left: -13px;
    text-align: left;
    line-height: 22px;
}
.mail{
    font-weight: bold;
}
a   {
    text-decoration: none;
    color: rgb(60, 60, 60);
}
.info{
    font-weight: bold;
}
a   {
    text-decoration: none;
    color: rgb(60, 60, 60);
}
.contact{
    font-weight: bold;
}
a   {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.footer{
    text-align: left;
    justify-content: center;
    margin-left: 13px;
    color: rgb(60, 60, 60);
}

p{
font-family:sans-serif;
font-size:16px;
}
@media (max-width: 420px){
    p{
        font-size:21px;
        color: rgb(60, 60, 60);
        align-content: flex-start;
    }
}


