
@font-face {
    font-family: IBM Plex Mono Bold;
    src: url("fonts/IBMPlexMono-Bold.woff") format("woff");
}

@font-face {
    font-family: IBM Plex Mono Bold Italic;
    src: url("fonts/IBMPlexMono-BoldItalic.woff") format("woff");
}

.header {
    font-family: IBM Plex Mono Bold;
    text-decoration: none;
    font-size: 218px;
    color: #1751c3;
    line-height: 191.02px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 25px;
}   

.nav a{
    font-family: IBM Plex Mono Bold;
    text-decoration: none;
    font-size: 30px;
    color: #1751c3;
    line-height: 40px;
    display: block;
    grid-template-columns: 1fr auto;
    gap: 25px;
    margin-right: 20px;
    margin-top: 10px;
    transition: 0.3s;
}

.nav a:hover{
    color:#82EE80;
    transition: 0.5s;
}

.nav a:visited{
    text-decoration: none;
}

.body {
    background-color: #82EE80;
    margin: 0px;
    font-family: IBM Plex Mono Bold;
    text-decoration: none;
    font-size: 30px;
    color: #1751c3;
    line-height: 38px;
    display: block;
    grid-template-columns: 1fr auto;
    gap: 25px;
}

.footer {
    font-family: IBM Plex Mono Bold Italic;
    text-decoration: none;
    font-size: 95px;
    color: #1751c3;
    margin: auto;
    margin-top: 35px;
}
